.projects {
	display: inline-block;
	width: 100%;
	// flex-direction: column;
	justify-content: space-evenly;
	padding: 2rem 2rem;
	background: rgba(0,86,179, 0.2);
	// align-items: center;
}

.projects_card {
	//width: 33.3%;
	color: #000000;;
	margin: 0 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #f7f7f7;
}

.projects_card_links {
	display: flex;
	justify-content: space-around;
}

.projects_card_links a {
	text-decoration: none;
	color: #181818;
	transition: background-position 120ms, color 120ms;
	background-image: linear-gradient(
		transparent 0%, 
		transparent calc(50% - 9px), 
		rgba(0,123,255, .5) calc(50% - 9px), 
		rgba(0,123,255, 0.5) 100%
	);
	background-size: 100% 200%;
	background-position: 0px 0px;
}

.projects_card_links a:hover {
	background-image: linear-gradient(
		transparent 0%,
		transparent calc(50% - 9px),
		rgba(0,86,179, 1) calc(50% - 9px),
		rgba(0,86,179, 1) 100%
	);
	background-position: center center;
	color: #f7f7f7;
}